* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: black;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

/*images*/
img {
  width: 100%;
}

/*links*/
a {
  color: #0066FF;
  text-decoration: none;
}

a:visited {
  color: #0066FF;
}

a:hover,
a:focus {
  color: black;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: grey;
}



/*buttons*/
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: black;
  color: white;
  font-weight: 400;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  border-radius: 10px;
  border-bottom: 2px solid #03474c;
  transition: 0.8s opacity, 0.5s background-color, 0.4s font-size;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #007AFF;
  text-transform: uppercase;
  border: 2px solid #007AFF;
}

.button.contact:hover {
  background-color: #007AFF;
  color: #ffffff;
}

.social {
  padding: 20px;
  display: inline-block;
  width: 100px;
}

.social:hover {
  opacity: 0.5;
}


.container {
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  margin: 25px 15px;
  /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
/*  Navigation bar  */

.logo {
  max-width: 65px;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  padding: 10px 0 18px;
  display: inline-block;
}


 nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li >a {
  list-style-type: none;
  padding: 0 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}


nav>ul>li>a:visited {
  text-decoration: none;
  color: grey;
}

nav>ul>li>a:hover {
  color: #000000;
  font-style: bold;
  font-weight: 600;
  text-decoration: none;
}

nav>ul>li>a:active {
  font-style: bold;
  padding: 0.1em 0.2em;
  text-decoration: none;
  padding-bottom: 10px;

}





.navtoggle li:not(:last-child) {
  display: none;
   padding: 0 0 10px;
}



.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 24px;
  padding-right: 10px;
  color: #000000;
}


.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 2px solid grey;
}




main {
  padding-top: 56px;

}

#hero {
  background-color: #efefef;
  padding: 5.67em;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

#hero h1 {
  text-align: center;
  margin: 0;
}

#hero h2 {
  text-align: center;
  margin: 15px 0;
}

#hero p {
  text-align: center;
}

/* footer styling */
#contact h2 {
  text-align: center;
  font-size: 40px;
}

#contact p {
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

#work h2 {
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

.centerMe {
  text-align: center;
}

.linkedin {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 10px;
}

.behance {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 10px;
}

.socialmedia::after {
  content: "";
  clear: both;
  display: table;
}

.social {
  max-width: 55px;
  text-align: center;
}

/* about page styling */
.aboutme h2 {
  text-align: center;
}

.abouttitle {
  text-align: center;
  padding: px 10;
  display: inline-block;
  width: 100%;
}



.putf.intro {
  text-align: center;
  padding: 0px 15px 5px 15px;
  background-color: black;
  color: white;
  display: inline-block;
  width: 100%;
}

.containerfooter {
  padding: 0 15px;
}



[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Small devices (smaller than 640px)
================================= */
/*----Media queries-----------*/
@media only screen and (max-width: 640px) {
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 3px;
  }

  nav > ul {
       margin: 1em 0;
   }

   nav > ul > li {
           display: inline-block;
       }


       .navtoggle li:not(:last-child) {
         display: inline-block;
       }

       .navtoggle li:last-child {
         display: none;
       }

  main {
    padding-top: 30px;
  }

  body {
    font-size: 18px;
    line-height: 1.4;
    color: black;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

.about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}



.descWrapper {
  padding: 10px;
}

.logo{
  min-width: 150px;
}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo{
  min-width: 150px;
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}
